<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile page</title>
</head>
<body>
    <%-  include("common/header.ejs")%>
    <h1>welcome <%= user.name%></h1>
    <h1> <%= user.email%></h1>
    <h1> <%= user.city%></h1>
    <ul>
        <% user.skills.forEach((skill)=>{ %>
            <li><%= skill%></li>
            <%  }) %>
      
    </ul>
</body>
</html>